footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'OpenSans-Semibold';
  font-size: 14px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  padding: 28px 0;
  background: rgb(1, 130, 115);
  background: -moz-linear-gradient(top, rgba(1, 130, 115,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(1, 130, 115,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(1, 130, 115,1) 0%,rgba(255,255,255,1) 100%);

  a,
  a:active,
  a:hover,
  a:visited {
    color: #f3f3f3;
  }

  img {
    height: 50px;
  }

  div {
    vertical-align: middle;
  }

  .pre-footer {

  }

  .footer {
    background-color: #2E4C5A;
  }
}

@media only screen and (max-width: 40em) { }
