body {
	font-family: "OpenSans-Light";
}

header {
	z-index: 9;
	top: 0;
	font-family: 'OpenSans-Light';
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 20vh;

	img {
		width: 90%;
		cursor: pointer;
    margin: 2vh auto;
	}
}

/* Mobile */
@media only screen and (max-width: 40em) {

}
