/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

li {
  list-style-type: none; }

input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-width: 0 0 1px;
  padding: 8px 0;
  margin: 0 0 8px;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  color: #45B3EB; }
  input:focus, textarea:focus {
    outline: none !important;
    border: 1px solid #45B3EB;
    border-width: 0 0 1px 0; }
    input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
      opacity: 0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff; }

label {
  color: #569cbc; }

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer; }
  button:active {
    opacity: 0.8; }
  button:focus {
    outline: none !important; }
  button:disabled {
    opacity: 0.5; }

select {
  border: 1px solid #ff5c00; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 40em) {
  .hide-for-mobile {
    display: none !important; } }

@media only screen and (min-width: 40em) {
  .hide-for-desktop {
    display: none !important; } }

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: 'Gamer';
  src: url(../fonts/Gamer.ttf); }

@font-face {
  font-family: 'Supernatural';
  src: url(../fonts/Supernatural_Knight.ttf); }

@font-face {
  font-family: 'Alien';
  src: url(../fonts/alienleague.ttf); }

body {
  font-family: "OpenSans-Light"; }

header {
  z-index: 9;
  top: 0;
  font-family: 'OpenSans-Light';
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20vh; }
  header img {
    width: 90%;
    cursor: pointer;
    margin: 2vh auto; }

/* Mobile */
footer {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans-Semibold';
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 12px 0 0 0;
  background: #018273;
  background: -moz-linear-gradient(top, #018273 0%, white 45%);
  background: -webkit-linear-gradient(top, #018273 0%, white 45%);
  background: linear-gradient(to bottom, #018273 0%, white 45%);
  border-top: 1px solid #00b3aa;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.42); }
  footer a,
  footer a:active,
  footer a:hover,
  footer a:visited {
    color: #f3f3f3; }
  footer img {
    height: 50px; }
  footer div {
    vertical-align: middle; }
  footer .pre-footer {
    padding: 0 0 20vh 0; }
    footer .pre-footer .title {
      color: #fff;
      text-align: center;
      width: 100%;
      font-family: 'OpenSans-Semibold';
      font-size: 3.6em;
      margin: 42px 0 12px 0; }
    footer .pre-footer .subtitle {
      color: #fff;
      text-align: center;
      width: 100%;
      font-family: 'OpenSans-Regular';
      font-size: 1.1em;
      margin: 0 0 42px 0; }
    footer .pre-footer .social-network {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      footer .pre-footer .social-network li {
        width: 30vw;
        font-size: 1.5em;
        text-align: center;
        padding: 12px; }
  footer .footer {
    background-color: #2E4C5A;
    position: relative;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color: #2E4C5A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.color-twitter {
  color: #1da1f2 !important; }

.color-facebook {
  color: #3b5998 !important; }

.color-instagram {
  color: #262626 !important; }

.color-skype {
  color: #00aff0 !important; }

.color-whatsapp {
  color: #138c7f !important; }

.color-telegram {
  color: #5580a3 !important; }

.color-rocket {
  color: #c1272d !important; }

.color-slack {
  color: #253039 !important; }

.color-linkedin {
  color: #0077b5 !important; }

.color-github {
  color: #24292e !important; }

.color-clock {
  color: #000000 !important; }

.color-stack {
  color: #f48024 !important; }

.color-behance {
  color: #0057ff !important; }

.color-dribbble {
  color: #c32361 !important; }

.color-deviantart {
  color: #05cc47 !important; }

.color-pinterest {
  color: #bd081c !important; }

.color-youtube {
  color: #e62117 !important; }

.color-spotify {
  color: #1db954 !important; }

.color-twitch {
  color: #4b367c !important; }

.color-steam {
  color: #171a21 !important; }

.color-gamepad {
  color: #ed3b1c !important; }

.gamer {
  background: #018273;
  padding-bottom: 2px; }
  .gamer .title {
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'Alien';
    font-size: 3.6em;
    margin: 42px 0 12px 0; }
  .gamer .subtitle {
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0; }
  .gamer .container {
    border: 2px solid #00b3aa;
    border-radius: 2px;
    padding: 1vw;
    margin: 1vw; }
    .gamer .container .thetitle {
      margin: -2vw auto 2vw;
      text-align: center;
      font-family: 'Alien';
      font-size: 30px;
      color: #00b3aa;
      background-color: #018273;
      display: table;
      padding: 0 4px; }
  .gamer .content {
    width: 30vw;
    padding: 2vw;
    cursor: pointer; }
    .gamer .content .light:hover {
      box-shadow: 0 0 42px #00fff2; }
    .gamer .content img {
      border-radius: 2px 2px 0 0;
      display: block;
      max-width: 100%;
      height: auto; }
  .gamer .portfolio-caption {
    border-radius: 0 0 2px 2px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #00b3aa;
    text-align: center;
    padding: 25px;
    color: #fff; }
    .gamer .portfolio-caption h4 {
      text-transform: none;
      font-size: 24px;
      margin: 0;
      font-family: 'OpenSans-Regular'; }
    .gamer .portfolio-caption p {
      font-size: 16px;
      margin: 6px 0 0; }

.personal {
  height: 80vh;
  background: #f0f9ff;
  background: -moz-linear-gradient(top, white 0%, #018273 100%);
  background: -webkit-linear-gradient(top, white 0%, #018273 100%);
  background: linear-gradient(to bottom, white 0%, #018273 100%); }
  .personal nav {
    font-family: 'Gamer';
    font-size: 2.4em;
    margin: 27vh auto;
    color: #af3732;
    text-align: center; }
    .personal nav ul li {
      cursor: pointer; }
      .personal nav ul li:hover:before {
        content: '>> '; }
      .personal nav ul li:hover:after {
        content: ' <<'; }

.worker {
  color: #644638;
  border: 3px solid;
  border-width: 3px 0; }
  .worker .title {
    text-align: center;
    width: 100%;
    font-family: 'Supernatural';
    font-size: 2em;
    margin: 42px 0 12px 0; }
  .worker .subtitle {
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0; }
  .worker .timeline {
    list-style: none;
    padding: 0;
    position: relative; }
    .worker .timeline li {
      min-height: 170px;
      margin-bottom: 100px;
      position: relative; }
    .worker .timeline:before {
      left: 50.5%;
      top: 0;
      bottom: 0;
      position: absolute;
      content: "";
      width: 2px;
      background-color: #644638;
      margin-left: -1.5px; }
    .worker .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
      width: 11vw;
      height: 15.5vw;
      margin-left: -5.5vw;
      position: absolute;
      z-index: 100;
      background-color: #644638;
      color: white;
      border-radius: 100%;
      border: 7px solid #644638;
      text-align: center;
      left: 50%; }
      .worker .timeline-image img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: 100%; }
    .worker .timeline-panel {
      width: 34%;
      float: left;
      text-align: right;
      position: relative;
      padding: 0 20px 20px 100px; }
    .worker .timeline-inverted .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 100px 20px 20px;
      padding: 0 8vw 20px 20px; }
    .worker .timeline-heading {
      font-family: 'OpenSans-Semibold';
      margin: 0 0 12px 0; }
      .worker .timeline-heading .subheading {
        font-family: 'OpenSans-Regular'; }
    .worker .timeline-body {
      color: #333; }
      .worker .timeline-body .text-muted {
        margin: 0 0 6px 0; }
      .worker .timeline-body .XP h4 {
        margin: 0 0 12px 0;
        font-family: 'OpenSans-Regular'; }
      .worker .timeline-body .XP .tecs img {
        height: 24px;
        width: auto; }
      .worker .timeline-body .speakers h4 {
        margin: 0 0 12px 0;
        font-family: 'OpenSans-Regular'; }
      .worker .timeline-body .speakers a {
        font-size: 80%;
        margin: 0 0 4px 12px; }
        .worker .timeline-body .speakers a span {
          font-size: 120%;
          text-decoration: underline;
          margin: 0 0 2px 0; }
