/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

li {
  list-style-type: none; }

input, textarea {
  background-color: transparent;
  border: 1px solid #fff;
  border-width: 0 0 1px;
  padding: 8px 0;
  margin: 0 0 8px;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  color: #45B3EB; }
  input:focus, textarea:focus {
    outline: none !important;
    border: 1px solid #45B3EB;
    border-width: 0 0 1px 0; }
    input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
      opacity: 0; }
    input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
      opacity: 0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #fff; }

label {
  color: #569cbc; }

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer; }
  button:active {
    opacity: 0.8; }
  button:focus {
    outline: none !important; }
  button:disabled {
    opacity: 0.5; }

select {
  border: 1px solid #ff5c00; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 40em) {
  .hide-for-mobile {
    display: none !important; } }

@media only screen and (min-width: 40em) {
  .hide-for-desktop {
    display: none !important; } }

@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url(../fonts/OpenSans-Semibold.ttf); }

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf); }

@font-face {
  font-family: 'Gamer';
  src: url(../fonts/Gamer.ttf); }

@font-face {
  font-family: 'Supernatural';
  src: url(../fonts/Supernatural_Knight.ttf); }

@font-face {
  font-family: 'Alien';
  src: url(../fonts/alienleague.ttf); }

body {
  font-family: "OpenSans-Light"; }

header {
  z-index: 9;
  top: 0;
  font-family: 'OpenSans-Light';
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20vh; }
  header img {
    width: 90%;
    cursor: pointer;
    margin: 2vh auto; }

/* Mobile */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #2E4C5A;
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'OpenSans-Semibold';
  font-size: 14px;
  padding: 8px 0;
  display: flex;
  align-items: center;
  padding: 28px 0;
  border-top: 1px solid #1A2C34; }
  footer a,
  footer a:active,
  footer a:hover,
  footer a:visited {
    color: #f3f3f3; }
  footer img {
    height: 50px; }
  footer div {
    vertical-align: middle; }

.gamer {
  background: #018273;
  background: -moz-linear-gradient(top, #018273 0%, white 100%);
  background: -webkit-linear-gradient(top, #018273 0%, white 100%);
  background: linear-gradient(to bottom, #018273 0%, white 100%); }
  .gamer .title {
    text-align: center;
    width: 100%;
    font-family: 'Alien';
    font-size: 3.6em;
    margin: 42px 0 12px 0; }
  .gamer .subtitle {
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0; }
  .gamer .content {
    width: 30vw;
    padding: 2vw; }
    .gamer .content img {
      display: block;
      max-width: 100%;
      height: auto; }
  .gamer .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px; }
    .gamer .portfolio-caption h4 {
      text-transform: none;
      font-size: 24px;
      margin: 0;
      font-family: 'OpenSans-Regular'; }
    .gamer .portfolio-caption p {
      font-size: 16px;
      margin: 0;
      color: #777; }

.slides {
  margin: 11vw 0 0 0;
  height: 440px;
  display: flex;
  padding: 24px 130px;
  background: #082a3e;
  background: -moz-linear-gradient(-45deg, #082a3e 0%, #569cbc 100%);
  background: -webkit-linear-gradient(-45deg, #082a3e 0%, #569cbc 100%);
  background: linear-gradient(135deg, #082a3e 0%, #569cbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082a3e', endColorstr='#569cbc',GradientType=1 ); }
  .slides-title {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'OpenSans-Light'; }
    .slides-title h2 {
      font-size: 48px;
      margin: 90px 0 12px 0;
      width: 590px; }
      .slides-title h2 small {
        font-size: 80%; }
    .slides-title h3 {
      font-size: 18px;
      width: 590px; }
  .slides img {
    height: 300px;
    margin: 70px 0 0 70px; }

.hbar {
  display: flex;
  align-items: center;
  height: 19vh;
  background: #569cbc url("../images/glass-texture.png");
  background: -moz-radial-gradient(center, ellipse cover, #569cbc 16%, #013f4e 100%) url("../images/glass-texture.png");
  background: -webkit-radial-gradient(center, ellipse cover, #569cbc 16%, #013f4e 100%) url("../images/glass-texture.png");
  background: radial-gradient(ellipse at center, #569cbc 16%, #013f4e 100%) url("../images/glass-texture.png");
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569cbc', endColorstr='#013f4e',GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover; }
  .hbar h3 {
    margin: 0 auto;
    font-family: 'OpenSans-Regular';
    font-size: 24px;
    color: #fff;
    width: 80vw; }

.hbar-x {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 19vh;
  background: #45B3EB; }
  .hbar-x h3 {
    margin: 3vh auto;
    font-family: 'OpenSans-Semibold';
    font-size: 30px;
    color: #02404F;
    width: 80vw; }
  .hbar-x .row {
    display: flex;
    flex-direction: row; }
    .hbar-x .row img {
      height: 6vh;
      margin: 0 2vw;
      border: 1px solid #023F4E; }

.frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 82vh; }
  .frame h3 {
    font-size: 26px;
    font-family: 'OpenSans-Semibold';
    color: #21252B;
    margin: 42px 0 12px; }
  .frame hr {
    width: 50px;
    height: 2px;
    background-color: #21252B;
    border: none; }
  .frame h4 {
    font-size: 16px;
    font-family: 'OpenSans-Regular';
    color: #737A81;
    margin: 12px 0; }
  .frame-x {
    background: #277598 url("../images/glass-texture.png") no-repeat;
    background-size: cover; }
    .frame-x h3 {
      color: #fff; }
    .frame-x hr {
      background-color: #fff; }
    .frame-x h4 {
      color: #fff; }
  .frame .services-itens {
    display: flex;
    justify-content: space-around; }
  .frame .services-item {
    display: flex;
    flex-direction: column;
    color: #737A81;
    margin: 42px;
    flex: 1; }
    .frame .services-item-icon {
      padding: 22px;
      background-color: #569CBC;
      color: #fff;
      border-radius: 50%;
      display: table;
      margin: 12px auto;
      font-size: 42px; }
    .frame .services-item span {
      margin: 12px auto 6px;
      font-size: 20px; }
    .frame .services-item p {
      text-align: justify;
      margin: 6px auto;
      font-size: 16px; }
  .frame .lastworks-itens {
    display: flex;
    justify-content: space-around; }
  .frame .lastworks-item {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 42px; }
    .frame .lastworks-item img {
      margin: 12px auto;
      width: 338px;
      height: 216px;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); }
    .frame .lastworks-item span {
      margin: 12px auto 6px;
      font-size: 14px; }
    .frame .lastworks-item p {
      text-align: justify;
      margin: 6px auto;
      font-size: 13px; }
  .frame .blog {
    display: flex;
    flex-direction: row;
    text-align: justify;
    color: #5794AF;
    padding: 42px 0 0 0; }
    .frame .blog-news {
      padding: 0 64px;
      flex: 1; }
      .frame .blog-news .title {
        font-family: 'OpenSans-Semibold';
        font-size: 30px;
        margin: 30px 0; }
      .frame .blog-news article {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .frame .blog-news article img {
          width: 100px;
          height: 80px;
          margin: 0 12px 0 0; }
        .frame .blog-news article h3 {
          font-family: 'OpenSans-Semibold';
          font-size: 16px;
          margin: 0; }
        .frame .blog-news article h4 {
          font-family: 'OpenSans-Light';
          font-size: 12px; }
          .frame .blog-news article h4 i {
            font-family: 'OpenSans-Bold'; }
        .frame .blog-news article p {
          font-family: 'OpenSans-Light';
          font-size: 14px; }
      .frame .blog-news hr {
        background-color: #5794AF;
        opacity: 0.5;
        margin: 26px 0;
        height: 1px;
        width: auto; }
    .frame .blog-promo img {
      width: 200px !important;
      height: 122px !important;
      margin: 0 12px 0 0; }

.footer {
  height: 67vh;
  background-color: #2E4C5A;
  display: flex;
  flex-direction: row; }
  .footer .contact {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: #fff;
    margin: 60px auto; }
    .footer .contact form {
      display: flex;
      flex-direction: column;
      text-align: justify; }
      .footer .contact form small {
        font-size: 60%;
        color: #45B3EB; }
      .footer .contact form .fade {
        filter: blur(4px); }
    .footer .contact-itens {
      display: flex;
      flex-direction: row; }
      .footer .contact-itens .timetable {
        display: flex;
        flex-direction: column; }
      .footer .contact-itens div {
        display: flex;
        flex-direction: column;
        margin: 0 24px 0 0; }
      .footer .contact-itens span {
        font-family: 'OpenSans-Semibold';
        font-size: 14px;
        margin: 12px 0; }
      .footer .contact-itens small {
        font-family: 'OpenSans-Light';
        font-size: 14px;
        margin: 12px 0; }
    .footer .contact h3 {
      font-family: 'OpenSans-Bold';
      font-size: 20px;
      margin: 0 0 20px 0; }

.button-cta {
  border: 3px solid #023F4E;
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 40px;
  margin: 12px auto;
  font-size: 16px;
  font-family: 'OpenSans-semibold';
  display: table;
  color: #023F4E !important;
  cursor: pointer; }
  .button-cta:active {
    opacity: 0.8; }
  .button-cta:hover {
    border: 3px solid #fff;
    background-color: #023F4E;
    color: #fff !important; }

/* Mobile */
@media only screen and (max-width: 40em) {
  .slides {
    margin: 0 0 0 0;
    height: 47vh;
    padding: 0 38px; }
    .slides-title h2 {
      font-size: 18px;
      margin: 70px 0 12px 0;
      width: 140px; }
      .slides-title h2 small {
        font-size: 80%; }
    .slides-title h3 {
      font-size: 8px;
      width: 150px; }
    .slides img {
      height: 30vw;
      margin: 70px 0 0 30px; }
  .hbar h3 {
    font-size: 18px; }
  .hbar-x {
    height: 22vh; }
    .hbar-x h3 {
      font-size: 24px; }
  .frame {
    height: auto; }
    .frame h3 {
      font-size: 26px;
      font-family: 'OpenSans-Semibold';
      color: #21252B;
      margin: 42px 0 12px; }
    .frame hr {
      width: 50px;
      height: 2px;
      background-color: #21252B;
      border: none; }
    .frame h4 {
      font-size: 16px;
      font-family: 'OpenSans-Regular';
      color: #737A81;
      margin: 12px 0; }
    .frame-x {
      background: #277598 url("../images/glass-texture.png") no-repeat;
      background-size: cover; }
      .frame-x h3 {
        color: #fff; }
      .frame-x hr {
        background-color: #fff; }
      .frame-x h4 {
        color: #fff; }
    .frame .services-itens {
      display: flex;
      flex-direction: column; }
    .frame .services-item {
      margin: 12px 24px; }
    .frame .lastworks-itens {
      display: flex;
      flex-direction: column; }
    .frame .lastworks-item {
      margin: 12px 24px; }
      .frame .lastworks-item img {
        width: 310px;
        height: 202px; }
    .frame .blog {
      display: flex;
      flex-direction: column;
      text-align: justify;
      color: #5794AF;
      padding: 42px 0 0 0; }
      .frame .blog-news {
        padding: 12px 24px; }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 12px; }
    .footer .contact {
      margin: 28px auto;
      width: 90vw; } }

.personal {
  height: 80vh;
  background: #f0f9ff;
  background: -moz-linear-gradient(top, white 0%, #018273 100%);
  background: -webkit-linear-gradient(top, white 0%, #018273 100%);
  background: linear-gradient(to bottom, white 0%, #018273 100%); }
  .personal nav {
    font-family: 'Gamer';
    font-size: 46px;
    margin: 27vh auto;
    color: #af3732;
    text-align: center; }
    .personal nav ul li {
      cursor: pointer; }
      .personal nav ul li:hover:before {
        content: '>> '; }
      .personal nav ul li:hover:after {
        content: ' <<'; }

.worker {
  color: #644638;
  border: 3px solid;
  border-width: 3px 0; }
  .worker .title {
    text-align: center;
    width: 100%;
    font-family: 'Supernatural';
    font-size: 2em;
    margin: 42px 0 12px 0; }
  .worker .subtitle {
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0; }
  .worker .timeline {
    list-style: none;
    padding: 0;
    position: relative; }
    .worker .timeline li {
      min-height: 170px;
      margin-bottom: 100px;
      position: relative; }
    .worker .timeline:before {
      left: 50.5%;
      top: 0;
      bottom: 0;
      position: absolute;
      content: "";
      width: 2px;
      background-color: #644638;
      margin-left: -1.5px; }
    .worker .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
      position: absolute;
      z-index: 100;
      background-color: #644638;
      color: white;
      border-radius: 100%;
      border: 7px solid #644638;
      text-align: center;
      left: 50%; }
      .worker .timeline-image img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        height: auto; }
    .worker .timeline-panel {
      width: 34%;
      float: left;
      text-align: right;
      position: relative;
      padding: 0 20px 20px 100px; }
    .worker .timeline-inverted .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 100px 20px 20px; }
    .worker .timeline-heading {
      font-family: 'OpenSans-Semibold';
      margin: 0 0 12px 0; }
      .worker .timeline-heading .subheading {
        font-family: 'OpenSans-Regular'; }
    .worker .timeline-body {
      color: #333; }
      .worker .timeline-body .text-muted {
        margin: 0 0 6px 0; }
      .worker .timeline-body .XP h4 {
        margin: 0 0 12px 0;
        font-family: 'OpenSans-Regular'; }
      .worker .timeline-body .XP .tecs img {
        height: 24px;
        width: auto; }
      .worker .timeline-body .speakers h4 {
        margin: 0 0 12px 0;
        font-family: 'OpenSans-Regular'; }
      .worker .timeline-body .speakers a {
        font-size: 80%;
        margin: 0 0 4px 12px; }
        .worker .timeline-body .speakers a span {
          font-size: 120%;
          text-decoration: underline;
          margin: 0 0 2px 0; }
