.color{
  &-twitter {
    color: #1da1f2 !important;
  }
  &-facebook {
    color: #3b5998 !important;
  }
  &-instagram {
    color: #262626 !important;
  }
  &-skype {
    color: #00aff0 !important;
  }
  &-whatsapp {
    color: #138c7f !important;
  }
  &-telegram {
    color: #5580a3 !important;
  }
  &-rocket {
    color: #c1272d !important;
  }
  &-slack {
    color: #253039 !important;
  }
  &-linkedin {
    color: #0077b5 !important;
  }
  &-github {
    color: #24292e !important;
  }
  &-clock {
    color: #000000 !important;
  }
  &-stack {
    color: #f48024 !important;
  }
  &-behance {
    color: #0057ff !important;
  }
  &-dribbble {
    color: #c32361 !important;
  }
  &-deviantart {
    color: #05cc47 !important;
  }
  &-pinterest {
    color: #bd081c !important;
  }
  &-youtube {
    color: #e62117 !important;
  }
  &-spotify {
    color: #1db954 !important;
  }
  &-twitch {
    color: #4b367c !important;
  }
  &-steam {
    color: #171a21 !important;
  }
  &-gamepad {
    color: #ed3b1c !important;
  }
}
