.gamer {
  background: rgb(1, 130, 115);
  padding-bottom: 2px;

  .title {
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'Alien';
    font-size: 3.6em;
    margin: 42px 0 12px 0;
  }

  .subtitle {
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0;
  }

  .container {
    border: 2px solid #00b3aa;
    border-radius: 2px;
    padding: 1vw;
    margin: 1vw;

    .thetitle {
      margin: -2vw auto 2vw;
      text-align: center;
      font-family: 'Alien';
      font-size: 30px;
      color: #00b3aa;
      background-color: rgb(1, 130, 115);
      display: table;
      padding: 0 4px;
    }
  }

  .content {
    width: 30vw;
    padding: 2vw;
    cursor: pointer;

    .light:hover {
      box-shadow: 0 0 42px #00fff2;
    }

    figure {
      border-radius: 2px 2px 0 0;
      display: block;
      overflow: hidden;
      width: 100%;
      max-width: 30vw;
      height: 15.5vw;
      
      img {
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        margin-left: 50%;
      }
    }
  }

  .portfolio {
    &-caption {
      border-radius: 0 0 2px 2px;
      width: 100%;
      background-color: #00b3aa;
      text-align: center;
      padding: 25px 0;
      color: #fff;

      h4 {
        text-transform: none;
        font-size: 1.8vw;
        margin: 0;
        font-family: 'OpenSans-Regular';
      }

      p {
        font-size: 1.5vw;
        margin: 6px 0 0;
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .gamer {
    .content {
      width: 90vw;
    }

    .portfolio {
      &-caption {
        h4 {
          font-size: 5.8vw;
        }

        p {
          font-size: 4vw;
        }
      }
    }
  }
}
