.personal {
  height: 80vh;
  background: rgb(240,249,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(1, 130, 115,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(1, 130, 115,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(1, 130, 115,1) 100%);

  nav {
    font-family: 'Gamer';
    font-size: 2.4em;
    margin: 27vh auto;
    color: #af3732;
    text-align: center;

    ul {
      li {
        cursor: pointer;

        &:hover {
          &:before {
            content: '>> ';
          }

          &:after {
            content: ' <<';
          }
        }
      }
    }
  }
}
