.worker {
  color: #644638;
  border: 3px solid;
  border-width: 3px 0;

  .title {
    text-align: center;
    width: 100%;
    font-family: 'Supernatural';
    font-size: 2em;
    margin: 42px 0 12px 0;
  }

  .subtitle {
    text-align: center;
    width: 100%;
    font-family: 'OpenSans-Regular';
    font-size: 1.1em;
    margin: 0 0 42px 0;
  }

  .timeline {
    list-style: none;
    padding: 0;
    position: relative;

    li {
      min-height: 170px;
      margin-bottom: 100px;
      position: relative;
    }

    &:before {
      left: 50.5%;
      top: 0;
      bottom: 0;
      position: absolute;
      content: "";
      width: 2px;
      background-color: #644638;
      margin-left: -1.5px;
    }

    &-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
      position: absolute;
      z-index: 100;
      background-color: #644638;
      color: white;
      border-radius: 100%;
      border: 7px solid #644638;
      text-align: center;
      left: 50%;

      img {
        border-radius: 50%;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-panel {
      width: 34%;
      float: left;
      text-align: right;
      position: relative;
      padding: 0 20px 20px 100px;
    }

    &-inverted {
      .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 100px 20px 20px;
      }
    }

    &-heading {
      font-family: 'OpenSans-Semibold';
      margin: 0 0 12px 0;

      .subheading {
        font-family: 'OpenSans-Regular';
      }
    }

    &-body {
      color: #333;

      .text-muted {
        margin: 0 0 6px 0;
      }

      .XP {
        h4 {
          margin: 0 0 12px 0;
          font-family: 'OpenSans-Regular';
        }

        .tecs {
          img {
            height: 24px;
            width: auto;
          }
        }
      }

      .speakers {
        h4 {
          margin: 0 0 12px 0;
          font-family: 'OpenSans-Regular';
        }

        a {
          font-size: 80%;
          margin: 0 0 4px 12px;

          span {
            font-size: 120%;
            text-decoration: underline;
            margin: 0 0 2px 0;
          }
        }
      }
    }
  }
}
